/* couleur de la navbar et du petit et dernier footer */
.headfoot{
    background-color: cornflowerblue;

}
.colorfoot{
    background-color: #7fb5ed;
}
.titre{
    text-decoration: underline;
}



@media (min-width: 992px) {
    .table-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
